@using Cards.Context
@model Cards.Context.Models.Invitation

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using ( Html.BeginForm() )
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Invitation</h4>
        <hr />
        @Html.ValidationSummary( true, "", new
   {
       @class = "text-danger"
   } )
        <div class="form-group">
            @Html.LabelFor( model => model.FriendlyName, htmlAttributes: new
       {
           @class = "control-label col-md-2"
       } )
            <div class="col-md-10">
                @Html.EditorFor( model => model.FriendlyName, new
           {
               htmlAttributes = new
               {
                   @class = "form-control"
               }
           } )
                @Html.ValidationMessageFor( model => model.FriendlyName, "", new
           {
               @class = "text-danger"
           } )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor( model => model.IsAccepted, htmlAttributes: new
       {
           @class = "control-label col-md-2"
       } )
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.DisplayFor( model => model.IsAccepted )
                    @Html.ValidationMessageFor( model => model.IsAccepted, "", new
               {
                   @class = "text-danger"
               } )
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">People</label>
            <div class="col-md-10">
                <table>
                    @foreach ( var person in ListHelper.GetPersons( null ) )
                    {
                        <tr>
                            <td>
                                <input type="checkbox" id="chk+@person.Person.ID" name="Persons" value="@person.Person.ID" @(person.IsSelected ? "checked='checked'" : "") />
                                <label for="chk+@person.Person.ID">@person.Person.ShortName (@person.Person.FullName)</label>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink( "Back to List", "Index" )
</div>

@section Scripts {
    @Scripts.Render( "~/bundles/jqueryval" )
}
